* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
html,
body {
  width: 100%;
  margin: 0 auto;
  min-width: 300px;
  padding: 0;
  font-family: STHeiTi, Tahoma, Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #333;
  background: #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
article,
section,
div,
p,
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  border: none;
  width: 100%;
}
a,
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
#app {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
#app h2 {
  line-height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  margin: 1rem auto;
  color: #666;
}
#app .tabs .btns:after {
  content: '\20';
  height: 0;
  display: block;
  clear: both;
}
#app .tabs .btns .activat {
  background: #fff;
  position: relative;
}
#app .tabs .btns .activat:after {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  left: 0;
  display: block;
  border-top: 1px solid #fff;
}
#app .tabs .btns .clean,
#app .tabs .btns .spread {
  float: right;
  border: 1px solid #ddd;
  line-height: 2.2rem;
  border-radius: 5px;
  padding: 0 1rem;
  background: #f66;
  color: #fff;
}
#app .tabs .btns li {
  float: left;
  border: 1px solid #ddd;
  border-bottom: none;
  color: #666;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  text-align: center;
  margin-right: 2px;
  line-height: 2.5rem;
  padding: 0 1.5rem;
}
#app .tabs .tab {
  border: 1px solid #ddd;
  padding: 0.5rem;
  width: 100%;
  background-color: #fff;
  min-height: 20rem;
}
#app .tabs .tab .debug {
  background: #ddd;
}
#app .tabs .tab .info {
  background: #dff;
}
#app .tabs .tab .warn {
  background: #ffa;
}
#app .tabs .tab .error {
  background: #f88;
}
#app .tabs .tab .fatal {
  background: #a00;
}
#app .tabs .tab dl {
  border-radius: 0.3rem;
  border: 1px solid #e0e0e0;
  margin-bottom: 2px;
}
#app .tabs .tab dl .spreadHeight {
  height: 2.4rem;
}
#app .tabs .tab dl dt {
  padding: 0.5rem 1rem;
  border-bottom: dashed 1px #e0e0e0;
  overflow: hidden;
}
#app .tabs .tab dl dt span {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  line-height: 1.5rem;
}
#app .tabs .tab dl dd {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  line-height: 2.5rem;
}
#app .tabs .tab dl dd span {
  word-break: break-all;
}
#app .tabs .tab dl dd span:nth-of-type(1) {
  display: inline-block;
  vertical-align: top;
  width: 5rem;
}
#app .tabs .tab dl dd p {
  word-break: break-all;
}
#app .tabs .tab dl dd p strong {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
#app .tabs .tab dl dd p i {
  display: block;
  width: 100%;
  border-top: 1px solid #d0d0d0;
}
