<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no" />
  <title>Log查看器</title>
  <link rel="stylesheet" href="css/log-viewer.css">
</head>

<body>
  <div id="app">
    <h2>Log查看器</h2>
    <div class="tabs">
      <ul class="btns">
        <li v-for="(key, item) in tabs" v-on:click="activatTab=key" v-bind:class="{activat: activatTab===key}">{{key}}</li>
        <li class="clean" v-on:click="clean(activatTab)">清除</li>
        <li class="spread" v-on:click="isSpread = !isSpread">{{isSpread ? '收回' : '展开'}}</li>
      </ul>
      <div v-for="(key, tab) in tabs" v-show="activatTab===key" class="tab">
        <dl v-for="item in tab" class="{{item.data.level}}">
          <dt class="{{isSpread || 'spreadHeight'}}">
            <span>ID: {{item.id}}</span>
            <span title="{{item._trackerName}}">追踪器: {{item._trackerName}}</span>
            <br>
            <span>过期时间: {{getTimeout(item)}}</span>
            <span v-if="item.tried!==0">请求次数: {{item.tried}}</span>
          </dt>
          <dd v-if="key==='log'"><span>{{item.data.level}} : </span><span>{{item.data.message}}</span></dd>
          <dd v-else>
            <p v-for="(k, v) in item.data">
              <strong>{{k}}</strong> {{{toString(v)}}}
            </p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</body>
<script src="http://apps.bdimg.com/libs/vue/1.0.8/vue.min.js"></script>
<script src="js/log-viewer.js"></script>

</html>
